 @import "compass/reset";
 @import "compass/css3";
 @import "compass/layout/stretching";
 @import "compass/utilities/general/clearfix";

 @import "sidebar-icons/*.png";
 @import "sidebar-icons-hover/*.png";
 @mixin sidebar-icons{
 	.home{@include sidebar-icons-sprite(home, ture);}
 	.timetable{@include sidebar-icons-sprite(timetable, true);}
 	.message{@include sidebar-icons-sprite(message, true);}
 	.news{@include sidebar-icons-sprite(news, true);}
 	.gear{@include sidebar-icons-sprite(gear, true);}
 	&:hover, &.active{
 		.home{@include sidebar-icons-hover-sprite(home, true);}
 		.timetable{@include sidebar-icons-hover-sprite(timetable, true);}
 		.message{@include sidebar-icons-hover-sprite(message, true);}
 		.news{@include sidebar-icons-hover-sprite(news, true);}
 		.gear{@include sidebar-icons-hover-sprite(gear, true);}
 	}
 }

 $header-height : 50px;
 $sidebar-width : 200px;
 $main-color : #992d31;

 body, textarea { font-family: "メイリオ", "ＭＳ Ｐゴシック", sans-serif; }
 input, select { font-family: Arial, "ＭＳ Ｐゴシック", sans-serif; }
 html, body {height: 100%;}

 #content-wrapper{
 	min-width:980px;
 	min-height:500px;
 }
 #header {
 	@include clearfix;
 	@include background-image(linear-gradient($main-color, $main-color + #111));
 	color:white;
 	height:$header-height;
 	width:100%;
 	font-weight:bold;

 	.logo{
 		padding:18px 20px;
 		float:left;
 	}
 	.logout{
 		float:right;
 		padding:15px 17px 0 0;
 		font-size:0.8em;
 		.greeting{
 			margin-right:20px;
 		}
 		a{
 			color:white;
 			text-decoration:none;
 			&:hover{
 				text-shadow:0 0 3px rgba(255,255,255,1);
 			}
 			img{
 				vertical-align: text-top;
 				margin-left:8px;
 			}
 		}
 	}
 	/*
 	.menu{
 		a{
 			color:white;
 			background-color:#101010;
 		}
 		ul li{
 			padding:18px;
 			float:left;
 			&.active{
 				background-color:$main-color + #222;
 			}

 		} 		

 	}
 	*/
//header menu
 }

 #sidebar{
 	@include stretch-y;
 	background-color:#333;
 	color:white;
 	width:$sidebar-width;
 	float:left;
 	margin-top:$header-height;

 	.sidebar ul li{
 		@include sidebar-icons;
 		padding:20px 0 20px 20px;
 		font-weight:bold;
 		cursor: pointer;
 		border-bottom:1px solid #000;
 		&:not(:first-child){
 			border-top:1px solid #555;
 		}
 		&.active{
 			background-color:#111;
 		}
 		&:hover{
 			color:#cc5c5c;
 		}
 		div.sprite{
 			display:inline-block;
 			vertical-align: text-top;
 			margin-right:15px;
 		}
 		span.indicator{
 			@include border-radius(5px);
 			color:#fff;
 			background:#000;
 			font-size:0.7em;
 			margin-left:15px;
 			padding:3px 5px;
 		}
 	}
 	.footer {
 		ul li {
 			color:#888;
 			font-size:0.7em;
 			float:left;
 			margin-right:10px;
 		}
 	}
 }

 #main{
 	word-break: break-all;
 	overflow:hidden;
 	margin-left:$sidebar-width;

 	.header{
 		@include clearfix;
 		background-color:#fafafa;
 		padding:10px;
 		font-size:0.9em;
 		border-bottom:1px solid #ccc;
 		ul li{
 			border:1px solid #aaa;
 			@include border-radius(7px);
 			font-weight:bold;
 			padding:5px 10px;
 			margin-right:10px;
 			float:left;
 			&.active{
 				background:white;
 				color:$main-color;
 			}
 		}
 	}
 	.body{
 		table, th, td {
 			border: 1px solid #D4E0EE;
 			border-collapse: collapse;
 		}

 		table {
 			width:100%;
 			thead th {
 				text-align: center;
 				background: $main-color + #aaa;
 				color: $main-color;
 				font-size: 100% !important;
 				padding:5px;
 			}
 			tbody{
 				th {
 					padding: 4px 0 4px 10px;
 					font-weight: bold;
 				}
 				tr {
 					background: #FEFDFC;
 					&:nth-child(odd) {
 						background-color:$main-color + #cacaca;
 					}
 				}
 				td {
 					padding:4px;
 				}
 			}

 			a{
 				color: $main-color + #222;
 				&:link, &:visited {
 					text-decoration: none;
 				}
 				&:hover {
 					text-decoration: underline !important;
 				}
 			}
 		}
 	}
 }


