<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>Netportal 2.0</title>
	<link href="/static/stylesheets/login.css" media="all" rel="stylesheet" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="content-wrapper">
		<div id="main" class="left_align">
			<h2>About</h2>
			<p>
				早稲田大学の学生なら、誰しもがあの使いにくくてダサいネットポータルに辟易していると思います。
				待ってても改善されないので、私たちはNetportal2.0という新たな学生用サービスを作りました。
			</p>
			<p>
				Waseda-net ID（メールアドレス）とパスワードがあればすぐに使えます。
				IDやパスワード、授業に関する情報を含めすべては早稲田大学のサーバーにのみ保存され、私たちはあなたの個人情報を保存、改ざん及び流用することはありません。
			</p>
			<p>
				私たちはNetportal2.0がさらに便利になるよう、様々な機能の追加や性能の向上を進めています。
				Netportal2.0についてご意見があれば下記メニューのContactからどうぞ。なお、返信は期待しないでください。
			</p>
		</div>
		<div id="footer">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/team">Team</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</div>
	</div>
</body>
</html>