<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>CourseN@vi 2.0</title>
  <link href="/static/stylesheets/screen.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
  <div id="content-wrapper">
    <div id="header">
      <div class="logo"><div class="icons-logo sprite"></div></div>
      <!-- div class="menu">
        <ul>
          <a href="#"><li class="active"><img src="images/coursenavi_icon.png" width="30" />Course N@vi</li></a>
          <a href="#"><li class="">Course N@vi</li></a>
        </ul>
      </div -->
      <div class="logout">
        <span class="greeting">Please login.</span>
        <span><a href="#">Login<div class="icons-logout sprite"></div></a></span>
      </div>
    </div>
    <div id="sidebar">
    </div>
    <div id="main">
      <div class="body home">
        <h2>かなりオシャレログインページ</h2>
        <form method="POST" action="{% url make_login %}">
          {% csrf_token %}
          <label for="email">Email</label>
          <input type="text" name="email">
          <br>
          <label for="password">Password</label>
          <input type="text" name="password">
          <input type="submit" value="Login" >
        </form>
      </div>
    </div>
  </div>
</body>
</html>
