<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>Netportal 2.0</title>
	<link href="/static/stylesheets/login.css" media="all" rel="stylesheet" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="content-wrapper">
		<div id="main" class="left_align">
			<h2>Team</h2>
			<table class="team">
				<tr>
					<td>
						<img class="pict" src="images/daniel.jpg" height="80" width="80" />
					</td>
					<td class="name">
						Perez Daniel
						<div class="icons">
							<a href="http://facebook.com/tuvistavie"><img src="/static/images/facebook.png" height="22" width="22" /></a>
							<a href="http://twitter.com/tuvistavie"><img src="/static/images/twitter.png" height="22" width="22" /></a>
							<a href="mailto:tuvistavie@gmail.com"><img src="/static/images/mail.png" height="16" width="24" /></a>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<img class="pict" src="/static/images/naito.jpg" height="80" width="80" />
					</td>
					<td class="name">
						Naito Takao
						<div class="icons">
							<a href="http://facebook.com/tnaito"><img src="/static/images/facebook.png" height="22" width="22" /></a>
							<a href="mailto:info@s46.net"><img src="/static/images/mail.png" height="16" width="24" /></a>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div id="footer">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/team">Team</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</div>
	</div>
</body>
</html>