{% extends "course_navi/bases/base.html" %}

{% block name %}home{% endblock %}

{% block sidebar %}
  {% include 'course_navi/subtemplates/sidebar_course_navi.html' %}
{% endblock %}

{% block main_header %}
<ul class="left-tools">
  <li class="active">開講中</li>
  <li class="">開講前</li>
  <li class="">開講終了</li>
  <li class=""><div class="icons-favorite sprite"></div>お気に入り</li>
  <li class=""><div class="icons-search sprite"></div>検索</li>
</ul>
<ul class="right-tools">
  <li class=""><div class="icons-refresh sprite"></div>更新</li>
</ul>
{% endblock %}

{% block main_body %}
<table>
  <thead>
    <tr>
      <th>科目名</th>
      <th>開講年度</th>
      <th>開講学期</th>
      <th>時限</th>
      <th>学部</th>
      <th>履修者</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><a href="#">ComputerArchitecture</a></th>
      <td>2012</td>
      <td>Autumn</td>
      <td>Wed. 2</td>
      <td>MNC</td>
      <td>Rishusha</td>
    </tr>
    <tr>
      <th><a href="#">ComputerArchitecture</a></th>
      <td>2012</td>
      <td>Autumn</td>
      <td>Wed. 2</td>
      <td>MNC</td>
      <td>Rishusha</td>
    </tr>
    <tr>
      <th><a href="#">ComputerArchitecture</a></th>
      <td>2012</td>
      <td>Autumn</td>
      <td>Wed. 2</td>
      <td>MNC</td>
      <td>Rishusha</td>
    </tr>
  </tbody>
</table>
{% endblock %}