{% extends "course_navi/bases/base.html" %}

{% block name %}home{% endblock %}

{% block sidebar %}
  {% include 'course_navi/subtemplates/sidebar_course_navi.html' with home='active' %}
{% endblock %}

{% block main_header %}
<ul class="left-tools">
  <li class="active">開講中</li>
  <li class="">開講前</li>
  <li class="">開講終了</li>
  <li class=""><div class="icons-favorite sprite"></div>お気に入り</li>
  <li class=""><div class="icons-search sprite"></div>検索</li>
</ul>
<ul class="right-tools">
  <li class=""><div class="icons-refresh sprite"></div>更新</li>
</ul>
{% endblock %}

{% block main_body %}
<table>
  <thead>
    <tr>
      <th class="subject">科目名</th>
      <th class="year">開講年度</th>
      <th class="season">開講学期</th>
      <th class="date">時限</th>
      <th class="department">学部</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><a href="/lecture">コンピュータアーキテクチャ</a></th>
      <td>2012</td>
      <td>秋期</td>
      <td>水曜日 2限</td>
      <td>スポーツ科学部</td>
    </tr>
    <tr>
      <th><a href="/lecture">コンピュータアーキテクチャ</a></th>
      <td>2012</td>
      <td>秋期</td>
      <td>水曜日 2限</td>
      <td>理工学部</td>
    </tr>
    <tr>
      <th><a href="/lecture">コンピュータアーキテクチャ</a></th>
      <td>2012</td>
      <td>秋期</td>
      <td>水曜日 2限</td>
      <td>理工学部</td>
    </tr>
  </tbody>
</table>
{% endblock %}