<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>CourseN@vi 2.0</title>
  <link href="/static/stylesheets/screen.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
  <div id="content-wrapper">
    <div id="header">
      <div class="logo"><div class="icons-logo sprite"></div></div>
      <!-- div class="menu">
        <ul>
          <a href="#"><li class="active"><img src="images/coursenavi_icon.png" width="30" />Course N@vi</li></a>
          <a href="#"><li class="">Course N@vi</li></a>
        </ul>
      </div -->
      <div class="logout">
        <span class="greeting">Hello there, Perez Daniel.</span>
        <span><a href="#">Logout<div class="icons-logout sprite"></div></a></span>
      </div>
    </div>
    <div id="sidebar">
      <div class="sidebar">
        <ul>
          <li class="active"><div class="home sprite"></div>ホーム</li>
          <li class=""><div class="timetable sprite"></div>時間割</li>
          <li class=""><div class="message sprite"></div>メッセージ
            <span class="indicator">24</span>
          </li>
          <li class=""><div class="news sprite"></div>お知らせ</li>
          <li class=""><div class="gear sprite"></div>設定</li>
        </ul>
      </div>
    </div>
    <div id="main">
      <div class="header">
        <ul class="left-tools">
          <li class="active">開講中</li>
          <li class="">開講前</li>
          <li class="">開講終了</li>
          <li class=""><div class="icons-favorite sprite"></div>お気に入り</li>
          <li class=""><div class="icons-search sprite"></div>検索</li>
        </ul>
        <ul class="right-tools">
          <li class=""><div class="icons-refresh sprite"></div>更新</li>
        </ul>
      </div>
      <div class="body home">
        <table>
          <thead>
            <tr>
              <th>科目名</th>
              <th>開講年度</th>
              <th>開講学期</th>
              <th>時限</th>
              <th>学部</th>
              <th>履修者</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th><a href="#">ComputerArchitecture</a></th>
              <td>2012</td>
              <td>Autumn</td>
              <td>Wed. 2</td>
              <td>MNC</td>
              <td>Rishusha</td>
            </tr>
            <tr>
              <th><a href="#">ComputerArchitecture</a></th>
              <td>2012</td>
              <td>Autumn</td>
              <td>Wed. 2</td>
              <td>MNC</td>
              <td>Rishusha</td>
            </tr>
            <tr>
              <th><a href="#">ComputerArchitecture</a></th>
              <td>2012</td>
              <td>Autumn</td>
              <td>Wed. 2</td>
              <td>MNC</td>
              <td>Rishusha</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</body>
</html>
