 @import "compass/reset";
 @import "compass/css3";
 @import "compass/css3/text-shadow";

 html, body{
 	font-family: 'Hiragino Kaku Gothic ProN', Meiryo, 'MS PGothic', Sans-serif;
 	height:100%;
 	width:100%;
 }
 html{
 	background:#b40909 - #444;
 	@include background-image(radial-gradient(#b40909 200px, #520000 ));
 	display:table;
 }
 body{
 	display:table-cell;
 	text-align:center;
 	vertical-align: middle;
 }

 #main{
 	margin-bottom:50px;
 	h1{
 		@include text-shadow(0px 0px 50px rgba(0,0,0,0.5));
 		font-family: 'Francois One', sans-serif;
 		color:white;
 		font-size:3.7em;
 		margin-bottom:25px;
 	}
 	label{
 		color:white;
 		font-weight:bold;
 	}
 	input{
 		width:180px;
 		margin-bottom:10px;
 		font-size:1.2em;
 		color:white;
 		background:#af3333;
 		border:1px solid #d88d8d;
 		padding:1px 2px;
 		&[type="text"]{
 			width:300px;
 		}
 		&[type="checkbox"]{
 			width:20px;
 		}
 		&[type="submit"]{
 			margin-top:15px;
 			@include box-shadow(inset 0px 1px 0px 0px #f29c93);
 			@include background-image(linear-gradient(top, #fe1a00 5%, #ce0100));
 			@include border-radius(3px);
 			background-color:#fe1a00;
 			border:1px solid #d83526;
 			color:#ffffff;
 			font-size:15px;
 			font-weight:bold;
 			padding:6px 24px;
 			cursor:pointer;
 			text-decoration:none;
 			&:hover {
 				@include background-image(linear-gradient(top, #ce0100 5%, #fe1a00));
 				background-color:#ce0100;
 			}
 			&:active {
 				position:relative;
 				top:1px;
 			}
 		}
 	}
 	&.left_align{
 		margin:0 auto 50px;
 		text-align:left;
 		width:450px;
 		h2{
 			font-family: 'Francois One', sans-serif;
 			color:white;
 			font-size:2em;
 		}
 		p{
 			color:#fff0f0;
 			margin-top:10px;
 			line-height:1.3em;
 		}
 		}
 		textarea{
 			margin:10px 0;
 		}
 		input[type="submit"].contact{
 			margin-left:10em;
 		}
 		.team{
 			margin-left:75px;
 			tr{
 				margin-top:25px;
 			}
 			.pict{
 				vertical-align: middle;
 				margin:15px 10px;
 			}
 			.name{
 				font-family: Verdana,Arial,sans-serif;
 				color:white;
 				font-size:1.6em;
 				.icons{
 					margin:10px 0;
 					img{vertical-align:middle;}
 				}
 			}
 	}
 }

 #footer{
 	text-align:center;
 	ul{
 		position: absolute;
 		bottom:20px;
 		right:30px;
 		li{
 			display:inline;
 			margin-left:10px;
 		}
 	}
 	a{
 		font-size:.8em;
 		color:#caa;
 		text-decoration:none;
 		&:hover{
 			color:white;
 			@include text-shadow(0 0 5px #fff);
 		}
 	}

 }

 @-webkit-keyframes pulse {
 	from {
 		opacity: 1.0;
 	}
 	to {
 		opacity: 0.6;
 	}
 }
 .errorlist{
 	font-size:.8em;
 	color:white;
 	-webkit-animation-name: pulse;
 	-webkit-animation-duration: 0.2s;
 	-webkit-animation-iteration-count:4;
 	-webkit-animation-timing-function:linear;
 	-webkit-animation-direction: alternate;
 	-webkit-animation-delay: 0s;
 }