{% load i18n %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>CourseN@vi 2.0</title>
    <link href="/static/stylesheets/screen.css" media="all" rel="stylesheet" type="text/css">
    <script src="/static/js/lib/requirejs/require.js"></script>
    <script src="/static/js/cnavi/main.js"></script>
</head>
<body>
    <div id="content-wrapper">
        <div id="header">
            <a href="{% url cnavi:index %}">
                <div class="logo"><div class="icons-logo sprite"></div></div>
            </a>
            <!-- div class="menu">
                <ul>
                    <a href="#"><li class="active"><img src="images/coursenavi_icon.png" width="30" />Course N@vi</li></a>
                    <a href="#"><li class="">Course N@vi</li></a>
                </ul>
            </div -->
            <div class="logout">
                <span class="greeting">
                    {% blocktrans with name=user.get_profile.jp_first_name %}hello {{name}}{% endblocktrans %}
                </span>
                <span>
                    <a href="{% url students:logout %}">
                        {% trans "logout" %}
                        <div class="icons-logout sprite"></div>
                    </a>
                </span>
            </div>
        </div>
        <div id="sidebar">
            <div class="sidebar">
                {% block sidebar %}{% endblock %}
            </div>
            <div class="footer">

            </div>
        </div>
        <div id="main">
            <div class="header">
                {% block main_header %}{% endblock %}
            </div>
            <div class="body {% block name %}{% endblock %}">
                {% block main_body %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
