{% extends "course_navi/bases/base.html" %}

{% block name %}news{% endblock %}

{% block sidebar %}
  {% include 'course_navi/subtemplates/sidebar_course_navi.html' with news='active' %}
{% endblock %}

{% block main_header %}
<ul class="left-tools">
</ul>
<ul class="right-tools">
	<li class=""><div class="icons-refresh sprite"></div>更新</li>
</ul>
{% endblock %}

{% block main_body %}
<table>
	<tbody>
		<tr>
			<th><input type="checkbox" /></th>
			<td class="name">遠隔教育センター/DistanceLearningCenter</td>
			<td class="subject"><a href="#">動画コンテンツ形式の更新について / Update of the Video Content Format</a></td>
			<td class="date"><div class="icons-paperclip sprite"></div>2012/12/30</td>
		</tr>
		<tr>
			<th><input type="checkbox" /></th>
			<td class="name">大隈重信</td>
			<td class="subject"><a href="#">（タイトルなし）</a></td>
			<td class="date"><div class="icons-paperclip sprite"></div>2012/12/20</td>
		</tr>
	</tbody>
</table>
{% endblock %}