@charset "UTF-8";
/* line 17, ../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 74, sidebar-icons/*.png */
.sidebar-icons-sprite, #sidebar .sidebar ul li .home, #sidebar .sidebar ul li .timetable, #sidebar .sidebar ul li .message, #sidebar .sidebar ul li .news, #sidebar .sidebar ul li .gear {
  background: url('../images/sidebar-icons-s43c23ff48e.png') no-repeat;
}

/* line 74, sidebar-icons-hover/*.png */
.sidebar-icons-hover-sprite, #sidebar .sidebar ul li:hover .home, #sidebar .sidebar ul li.active .home, #sidebar .sidebar ul li:hover .timetable, #sidebar .sidebar ul li.active .timetable, #sidebar .sidebar ul li:hover .message, #sidebar .sidebar ul li.active .message, #sidebar .sidebar ul li:hover .news, #sidebar .sidebar ul li.active .news, #sidebar .sidebar ul li:hover .gear, #sidebar .sidebar ul li.active .gear {
  background: url('../images/sidebar-icons-hover-sc334010a7b.png') no-repeat;
}

/* line 27, ../sass/screen.scss */
body, textarea {
  font-family: "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
}

/* line 28, ../sass/screen.scss */
input, select {
  font-family: Arial, "ＭＳ Ｐゴシック", sans-serif;
}

/* line 29, ../sass/screen.scss */
html, body {
  height: 100%;
}

/* line 31, ../sass/screen.scss */
#content-wrapper {
  min-width: 980px;
  min-height: 500px;
}

/* line 35, ../sass/screen.scss */
#header {
  overflow: hidden;
  *zoom: 1;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #992d31), color-stop(100%, #aa3e42));
  background-image: -webkit-linear-gradient(#992d31, #aa3e42);
  background-image: -moz-linear-gradient(#992d31, #aa3e42);
  background-image: -o-linear-gradient(#992d31, #aa3e42);
  background-image: linear-gradient(#992d31, #aa3e42);
  color: white;
  height: 50px;
  width: 100%;
  font-weight: bold;
 	/*
 	.menu{
 		a{
 			color:white;
 			background-color:#101010;
 		}
 		ul li{
 			padding:18px;
 			float:left;
 			&.active{
 				background-color:$main-color + #222;
 			}

 		} 		

 	}
 	*/
}
/* line 43, ../sass/screen.scss */
#header .logo {
  padding: 18px 20px;
  float: left;
}
/* line 47, ../sass/screen.scss */
#header .logout {
  float: right;
  padding: 15px 17px 0 0;
  font-size: 0.8em;
}
/* line 51, ../sass/screen.scss */
#header .logout .greeting {
  margin-right: 20px;
}
/* line 54, ../sass/screen.scss */
#header .logout a {
  color: white;
  text-decoration: none;
}
/* line 57, ../sass/screen.scss */
#header .logout a:hover {
  text-shadow: 0 0 3px white;
}
/* line 60, ../sass/screen.scss */
#header .logout a img {
  vertical-align: text-top;
  margin-left: 8px;
}

/* line 86, ../sass/screen.scss */
#sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #333;
  color: white;
  width: 200px;
  float: left;
  margin-top: 50px;
}
/* line 94, ../sass/screen.scss */
#sidebar .sidebar ul li {
  padding: 20px 0 20px 20px;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 1px solid #000;
}
/* line 9, ../sass/screen.scss */
#sidebar .sidebar ul li .home {
  background-position: 0 -95px;
  height: 22px;
  width: 22px;
}
/* line 10, ../sass/screen.scss */
#sidebar .sidebar ul li .timetable {
  background-position: 0 -24px;
  height: 22px;
  width: 23px;
}
/* line 11, ../sass/screen.scss */
#sidebar .sidebar ul li .message {
  background-position: 0 0;
  height: 24px;
  width: 24px;
}
/* line 12, ../sass/screen.scss */
#sidebar .sidebar ul li .news {
  background-position: 0 -72px;
  height: 23px;
  width: 24px;
}
/* line 13, ../sass/screen.scss */
#sidebar .sidebar ul li .gear {
  background-position: 0 -46px;
  height: 26px;
  width: 26px;
}
/* line 15, ../sass/screen.scss */
#sidebar .sidebar ul li:hover .home, #sidebar .sidebar ul li.active .home {
  background-position: 0 -95px;
  height: 22px;
  width: 22px;
}
/* line 16, ../sass/screen.scss */
#sidebar .sidebar ul li:hover .timetable, #sidebar .sidebar ul li.active .timetable {
  background-position: 0 0;
  height: 22px;
  width: 23px;
}
/* line 17, ../sass/screen.scss */
#sidebar .sidebar ul li:hover .message, #sidebar .sidebar ul li.active .message {
  background-position: 0 -48px;
  height: 24px;
  width: 24px;
}
/* line 18, ../sass/screen.scss */
#sidebar .sidebar ul li:hover .news, #sidebar .sidebar ul li.active .news {
  background-position: 0 -72px;
  height: 23px;
  width: 24px;
}
/* line 19, ../sass/screen.scss */
#sidebar .sidebar ul li:hover .gear, #sidebar .sidebar ul li.active .gear {
  background-position: 0 -22px;
  height: 26px;
  width: 26px;
}
/* line 100, ../sass/screen.scss */
#sidebar .sidebar ul li:not(:first-child) {
  border-top: 1px solid #555;
}
/* line 103, ../sass/screen.scss */
#sidebar .sidebar ul li.active {
  background-color: #111;
}
/* line 106, ../sass/screen.scss */
#sidebar .sidebar ul li:hover {
  color: #cc5c5c;
}
/* line 109, ../sass/screen.scss */
#sidebar .sidebar ul li div.sprite {
  display: inline-block;
  vertical-align: text-top;
  margin-right: 15px;
}
/* line 114, ../sass/screen.scss */
#sidebar .sidebar ul li span.indicator {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  background: #000;
  font-size: 0.7em;
  margin-left: 15px;
  padding: 3px 5px;
}
/* line 124, ../sass/screen.scss */
#sidebar .footer ul li {
  color: #888;
  font-size: 0.7em;
  float: left;
  margin-right: 10px;
}

/* line 133, ../sass/screen.scss */
#main {
  word-break: break-all;
  overflow: hidden;
  margin-left: 200px;
}
/* line 138, ../sass/screen.scss */
#main .header {
  overflow: hidden;
  *zoom: 1;
  background-color: #fafafa;
  padding: 10px;
  font-size: 0.9em;
  border-bottom: 1px solid #ccc;
}
/* line 144, ../sass/screen.scss */
#main .header ul li {
  border: 1px solid #aaa;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  font-weight: bold;
  padding: 5px 10px;
  margin-right: 10px;
  float: left;
}
/* line 151, ../sass/screen.scss */
#main .header ul li.active {
  background: white;
  color: #992d31;
}
/* line 158, ../sass/screen.scss */
#main .body table, #main .body th, #main .body td {
  border: 1px solid #D4E0EE;
  border-collapse: collapse;
}
/* line 163, ../sass/screen.scss */
#main .body table {
  width: 100%;
}
/* line 165, ../sass/screen.scss */
#main .body table thead th {
  text-align: center;
  background: #ffd7db;
  color: #992d31;
  font-size: 100% !important;
  padding: 5px;
}
/* line 173, ../sass/screen.scss */
#main .body table tbody th {
  padding: 4px 0 4px 10px;
  font-weight: bold;
}
/* line 177, ../sass/screen.scss */
#main .body table tbody tr {
  background: #FEFDFC;
}
/* line 179, ../sass/screen.scss */
#main .body table tbody tr:nth-child(odd) {
  background-color: #fff7fb;
}
/* line 183, ../sass/screen.scss */
#main .body table tbody td {
  padding: 4px;
}
/* line 188, ../sass/screen.scss */
#main .body table a {
  color: #bb4f53;
}
/* line 190, ../sass/screen.scss */
#main .body table a:link, #main .body table a:visited {
  text-decoration: none;
}
/* line 193, ../sass/screen.scss */
#main .body table a:hover {
  text-decoration: underline !important;
}
