@charset "UTF-8";
/* line 17, ../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 74, sidebar-icons/*.png */
.sidebar-icons-sprite, #sidebar .sidebar ul li .home, #sidebar .sidebar ul li .timetable, #sidebar .sidebar ul li .message, #sidebar .sidebar ul li .news, #sidebar .sidebar ul li .gear {
  background: url('../images/sidebar-icons-s43c23ff48e.png') no-repeat;
}

/* line 74, sidebar-icons-hover/*.png */
.sidebar-icons-hover-sprite, #sidebar .sidebar ul li:hover .home, #sidebar .sidebar ul li.active .home, #sidebar .sidebar ul li:hover .timetable, #sidebar .sidebar ul li.active .timetable, #sidebar .sidebar ul li:hover .message, #sidebar .sidebar ul li.active .message, #sidebar .sidebar ul li:hover .news, #sidebar .sidebar ul li.active .news, #sidebar .sidebar ul li:hover .gear, #sidebar .sidebar ul li.active .gear {
  background: url('../images/sidebar-icons-hover-sc334010a7b.png') no-repeat;
}

/* line 66, icons/*.png */
.icons-sprite, #main .header .icons-back, #main .header .icons-gradhat, #main .header .icons-refresh, #main .header .icons-search, #main .body.class .icons-back, #main .body.class .icons-gradhat, #main .body.class .icons-refresh, #main .body.class .icons-search {
  background: url('../images/icons-s7c6352a0c9.png') no-repeat;
}

/* line 33, ../sass/screen.scss */
body, textarea {
  font-family: "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
}

/* line 34, ../sass/screen.scss */
input, select {
  font-family: Arial, "ＭＳ Ｐゴシック", sans-serif;
}

/* line 35, ../sass/screen.scss */
html, body {
  height: 100%;
}

/* line 37, ../sass/screen.scss */
#content-wrapper {
  min-width: 980px;
  min-height: 500px;
}

/* line 41, ../sass/screen.scss */
#header {
  overflow: hidden;
  *zoom: 1;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #992d31), color-stop(100%, #aa3e42));
  background-image: -webkit-linear-gradient(#992d31, #aa3e42);
  background-image: -moz-linear-gradient(#992d31, #aa3e42);
  background-image: -o-linear-gradient(#992d31, #aa3e42);
  background-image: linear-gradient(#992d31, #aa3e42);
  color: white;
  height: 50px;
  width: 100%;
  font-weight: bold;
}
/* line 49, ../sass/screen.scss */
#header .logo {
  padding: 18px 20px;
  float: left;
}
/* line 53, ../sass/screen.scss */
#header .logout {
  float: right;
  padding: 15px 17px 0 0;
  font-size: 0.8em;
}
/* line 57, ../sass/screen.scss */
#header .logout .greeting {
  margin-right: 20px;
}
/* line 60, ../sass/screen.scss */
#header .logout a {
  color: white;
  text-decoration: none;
}
/* line 63, ../sass/screen.scss */
#header .logout a:hover {
  text-shadow: 0 0 3px white;
}
/* line 66, ../sass/screen.scss */
#header .logout a img {
  vertical-align: text-top;
  padding-left: 8px;
}
/* line 73, ../sass/screen.scss */
#header .menu {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
/* line 75, ../sass/screen.scss */
#header .menu a {
  color: white;
  background-color: #101010;
}
/* line 79, ../sass/screen.scss */
#header .menu ul li {
  padding: 18px;
  float: left;
}
/* line 82, ../sass/screen.scss */
#header .menu ul li.active {
  background-color: #bb4f53;
}

/* line 89, ../sass/screen.scss */
#sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #333;
  color: white;
  width: 200px;
  float: left;
  margin-top: 50px;
}
/* line 97, ../sass/screen.scss */
#sidebar .sidebar ul li {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 20px 0 20px 20px;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 1px solid #000;
}
/* line 12, ../sass/screen.scss */
#sidebar .sidebar ul li .home {
  background-position: 0 -95px;
  height: 22px;
  width: 22px;
}
/* line 13, ../sass/screen.scss */
#sidebar .sidebar ul li .timetable {
  background-position: 0 -24px;
  height: 22px;
  width: 23px;
}
/* line 14, ../sass/screen.scss */
#sidebar .sidebar ul li .message {
  background-position: 0 0;
  height: 24px;
  width: 24px;
}
/* line 15, ../sass/screen.scss */
#sidebar .sidebar ul li .news {
  background-position: 0 -72px;
  height: 23px;
  width: 24px;
}
/* line 16, ../sass/screen.scss */
#sidebar .sidebar ul li .gear {
  background-position: 0 -46px;
  height: 26px;
  width: 26px;
}
/* line 18, ../sass/screen.scss */
#sidebar .sidebar ul li:hover .home, #sidebar .sidebar ul li.active .home {
  background-position: 0 -95px;
  height: 22px;
  width: 22px;
}
/* line 19, ../sass/screen.scss */
#sidebar .sidebar ul li:hover .timetable, #sidebar .sidebar ul li.active .timetable {
  background-position: 0 0;
  height: 22px;
  width: 23px;
}
/* line 20, ../sass/screen.scss */
#sidebar .sidebar ul li:hover .message, #sidebar .sidebar ul li.active .message {
  background-position: 0 -48px;
  height: 24px;
  width: 24px;
}
/* line 21, ../sass/screen.scss */
#sidebar .sidebar ul li:hover .news, #sidebar .sidebar ul li.active .news {
  background-position: 0 -72px;
  height: 23px;
  width: 24px;
}
/* line 22, ../sass/screen.scss */
#sidebar .sidebar ul li:hover .gear, #sidebar .sidebar ul li.active .gear {
  background-position: 0 -22px;
  height: 26px;
  width: 26px;
}
/* line 104, ../sass/screen.scss */
#sidebar .sidebar ul li:not(:first-child) {
  border-top: 1px solid #555;
}
/* line 107, ../sass/screen.scss */
#sidebar .sidebar ul li.active {
  background-color: #111;
}
/* line 110, ../sass/screen.scss */
#sidebar .sidebar ul li:hover {
  color: #cc5c5c;
}
/* line 113, ../sass/screen.scss */
#sidebar .sidebar ul li div.sprite {
  vertical-align: text-top;
  margin-right: 15px;
}
/* line 117, ../sass/screen.scss */
#sidebar .sidebar ul li span.indicator {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  background: #000;
  font-size: 0.7em;
  margin-left: 15px;
  padding: 3px 5px;
}
/* line 127, ../sass/screen.scss */
#sidebar .footer ul li {
  color: #888;
  font-size: 0.7em;
  float: left;
  margin-right: 10px;
}

/* line 136, ../sass/screen.scss */
#main {
  word-break: break-all;
  overflow: hidden;
  margin-left: 200px;
}
/* line 141, ../sass/screen.scss */
#main .header {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  overflow: hidden;
  *zoom: 1;
  background-color: #f0f0f0;
  padding: 10px;
  font-size: 0.9em;
  border-bottom: 1px solid #ccc;
}
/* line 60, ../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
#main .header .icons-back {
  background-position: 0 -54px;
  height: 14px;
  width: 14px;
}
/* line 60, ../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
#main .header .icons-gradhat {
  background-position: 0 0;
  height: 23px;
  width: 30px;
}
/* line 60, ../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
#main .header .icons-refresh {
  background-position: 0 -23px;
  height: 16px;
  width: 15px;
}
/* line 60, ../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
#main .header .icons-search {
  background-position: 0 -39px;
  height: 15px;
  width: 15px;
}
/* line 150, ../sass/screen.scss */
#main .header .sprite {
  vertical-align: middle;
  margin: -2px 5px 0 0;
}
/* line 155, ../sass/screen.scss */
#main .header ul li {
  border: 1px solid #aaa;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  font-weight: bold;
  vertical-align: middle;
  padding: 4px 10px;
  height: 15px;
  margin-right: 10px;
  cursor: pointer;
  float: left;
}
/* line 165, ../sass/screen.scss */
#main .header ul li:hover {
  background-color: white;
}
/* line 168, ../sass/screen.scss */
#main .header ul li:active {
  background-color: #f0f0f0;
}
/* line 171, ../sass/screen.scss */
#main .header ul li.active {
  background: white;
  color: #992d31;
}
/* line 176, ../sass/screen.scss */
#main .header ul.right-tools {
  float: right;
}
/* line 183, ../sass/screen.scss */
#main .body.home table, #main .body.home th, #main .body.home td {
  border: 1px solid #D4E0EE;
  border-collapse: collapse;
}
/* line 188, ../sass/screen.scss */
#main .body.home table {
  width: 100%;
}
/* line 190, ../sass/screen.scss */
#main .body.home table thead th {
  text-align: center;
  background: #ffd7db;
  color: #992d31;
  font-size: 100% !important;
  padding: 5px;
}
/* line 198, ../sass/screen.scss */
#main .body.home table tbody th {
  padding: 4px 0 4px 10px;
  font-weight: bold;
}
/* line 202, ../sass/screen.scss */
#main .body.home table tbody tr {
  background: #FEFDFC;
}
/* line 204, ../sass/screen.scss */
#main .body.home table tbody tr:nth-child(odd) {
  background-color: #fff7fb;
}
/* line 208, ../sass/screen.scss */
#main .body.home table tbody td {
  padding: 4px;
}
/* line 213, ../sass/screen.scss */
#main .body.home table a {
  color: #bb4f53;
}
/* line 215, ../sass/screen.scss */
#main .body.home table a:link, #main .body.home table a:visited {
  text-decoration: none;
}
/* line 218, ../sass/screen.scss */
#main .body.home table a:hover {
  text-decoration: underline !important;
}
/* line 224, ../sass/screen.scss */
#main .body.class {
  padding: 0 20px;
}
/* line 60, ../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
#main .body.class .icons-back {
  background-position: 0 -54px;
  height: 14px;
  width: 14px;
}
/* line 60, ../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
#main .body.class .icons-gradhat {
  background-position: 0 0;
  height: 23px;
  width: 30px;
}
/* line 60, ../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
#main .body.class .icons-refresh {
  background-position: 0 -23px;
  height: 16px;
  width: 15px;
}
/* line 60, ../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
#main .body.class .icons-search {
  background-position: 0 -39px;
  height: 15px;
  width: 15px;
}
/* line 227, ../sass/screen.scss */
#main .body.class .title {
  font-size: 1.5em;
  font-weight: bold;
  padding: 25px 0 20px 0;
}
/* line 231, ../sass/screen.scss */
#main .body.class .title .sprite {
  margin: 0 10px;
  vertical-align: top;
}
/* line 236, ../sass/screen.scss */
#main .body.class .information {
  overflow: hidden;
  *zoom: 1;
  background-color: #ffedf1;
  padding: 20px;
}
/* line 240, ../sass/screen.scss */
#main .body.class .information dl {
  float: left;
}
/* line 242, ../sass/screen.scss */
#main .body.class .information dl.left {
  line-height: 30px;
  width: 290px;
}
/* line 246, ../sass/screen.scss */
#main .body.class .information dl.right {
  white-space: nowrap;
  line-height: 40px;
  min-width: 200px;
}
/* line 251, ../sass/screen.scss */
#main .body.class .information dl dt {
  width: 6em;
  font-weight: bold;
  float: left;
  clear: left;
}
/* line 257, ../sass/screen.scss */
#main .body.class .information dl dd {
  color: #555;
}

/* line 266, ../sass/screen.scss */
.sprite {
  display: inline-block;
}
