html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

html, body {
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, "MS PGothic", Sans-serif;
  height: 100%;
  width: 100%;
}

html {
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 90, color-stop(30%, #b40909), color-stop(90%, #520000));
  background-image: -webkit-radial-gradient(#b40909 30%, #520000 90%);
  background-image: -moz-radial-gradient(#b40909 30%, #520000 90%);
  background-image: -o-radial-gradient(#b40909 30%, #520000 90%);
  background-image: radial-gradient(#b40909 30%, #520000 90%);
  display: table;
}

body {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#main {
  margin-bottom: 50px;
}
#main h1 {
  font-family: "Francois One", sans-serif;
  font-size: 3.7em;
  color: white;
  margin-bottom: 25px;
}
#main label {
  color: white;
  font-weight: bold;
}
#main input {
  width: 180px;
  margin-bottom: 10px;
  font-size: 1.2em;
  color: white;
  background: #af3333;
  border: 1px solid #d88d8d;
  padding: 1px 2px;
}
#main input[type="text"] {
  width: 300px;
}
#main input[type="checkbox"] {
  width: 20px;
}
#main input[type="submit"] {
  margin-top: 15px;
  -webkit-box-shadow: inset 0px 1px 0px 0px #f29c93;
  -moz-box-shadow: inset 0px 1px 0px 0px #f29c93;
  box-shadow: inset 0px 1px 0px 0px #f29c93;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(5%, #fe1a00), color-stop(100%, #ce0100));
  background-image: -webkit-linear-gradient(top, #fe1a00 5%, #ce0100);
  background-image: -moz-linear-gradient(top, #fe1a00 5%, #ce0100);
  background-image: -o-linear-gradient(top, #fe1a00 5%, #ce0100);
  background-image: linear-gradient(top, #fe1a00 5%, #ce0100);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #fe1a00;
  border: 1px solid #d83526;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  cursor: pointer;
  text-decoration: none;
}
#main input[type="submit"]:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(5%, #ce0100), color-stop(100%, #fe1a00));
  background-image: -webkit-linear-gradient(top, #ce0100 5%, #fe1a00);
  background-image: -moz-linear-gradient(top, #ce0100 5%, #fe1a00);
  background-image: -o-linear-gradient(top, #ce0100 5%, #fe1a00);
  background-image: linear-gradient(top, #ce0100 5%, #fe1a00);
  background-color: #ce0100;
}
#main input[type="submit"]:active {
  position: relative;
  top: 1px;
}

#footer {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 30px 20px 0;
  text-align: center;
}
#footer ul li {
  display: inline;
  margin-left: 10px;
}
#footer a {
  font-size: .8em;
  color: #caa;
  text-decoration: none;
}
#footer a:hover {
  color: white;
  text-shadow: 0 0 5px white;
}

@-webkit-keyframes pulse {
  from {
    opacity: 1.0;
  }

  to {
    opacity: 0.6;
  }
}

.errorlist {
  font-size: .8em;
  color: white;
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-iteration-count: 4;
  -webkit-animation-timing-function: linear;
  -webkit-animation-direction: alternate;
  -webkit-animation-delay: 0s;
}
